<?xml version="1.0" encoding="UTF-8" ?>
<module>
    <name>lot_manager</name>
    <displayName><![CDATA[Lot Manager]]></displayName>
    <version><![CDATA[1.0.0]]></version>
    <description><![CDATA[Import, qualify, and track products purchased in lots.]]></description>
    <author><![CDATA[Mr-dev]]></author>
    <tab><![CDATA[administration]]></tab>
	<is_configurable>1</is_configurable>
    <need_instance>0</need_instance>
	<ps_versions_compliancy>
        <min><![CDATA[1.7.6]]></min>
        <max><![CDATA[8.99.99]]></max>
    </ps_versions_compliancy>
</module>